.artwork-stats-buttons-area {
  margin-top: 40px;
}

.artwork-stats-dl-btn {
  display: flex;
  width: 246px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.artwork-stats-advanced-btn {
  margin-bottom: 20px;
}
